/* start styles */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=VT323&display=swap");

body {
  margin: 0;
  background: #444;
  font-family: "Poppins";
}
h1 {
  margin: 0;
}
li,
ul {
  list-style-type: none;
  padding: 0;
}
main {
  padding: 140px 40px 40px;
  color: #bbb;
}

/* solution styles */
.menu {
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: white;
}

.site-title {
  margin-left: auto;
  font-size: 2rem;
}

.menu [type="checkbox"] {
  opacity: 0;
  height: 0;
  width: 0;
  margin: 0;
}
.menu-bar {
  display: flex;
  align-items: center;
  position: relative;
  /* border: 1px solid black; */
  width: 2em;
  height: 1.5em;
  cursor: pointer;
  z-index: 40;
}

.menu-bar span {
  display: block;
  border: 1px solid white;
  width: 100%;
  transition: 150ms;
}

.menu-bar span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  box-sizing: border-box;
  border: 1px solid white;
  width: 100%;
  transform-origin: left;
  transition: 300ms;
}

.menu-bar span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  box-sizing: border-box;
  border: 1px solid white;
  width: 100%;
  transform-origin: left;
  transition: 300ms;
}

.menu [type="checkbox"]:checked + label > span {
  visibility: hidden;
}

.menu-nav {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  background-color: #222;
  padding: calc(40px + 2rem) 20px;
  width: 15em;
  height: 100vh;
  transform: translateX(-100%);
  transition: 300ms;
}

.menu-nav .nav-item {
  color: white;
}

/* open state */
.menu [type="checkbox"]:checked + label > span::before {
  transform: rotateZ(44deg);
  visibility: visible;
}

.menu [type="checkbox"]:checked + label > span::after {
  transform: rotateZ(-44deg);
  visibility: visible;
}

.menu [type="checkbox"]:checked ~ .menu-nav {
  transform: translateX(0);
  box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.3);
}

/* transitions */
